// animation-block
.animations
    background: url(./../img/back_mountain-full.png)
    background-size: cover
    background-position: top center
    overflow: hidden
    margin-top: -2.5rem
    border-radius: 2.5rem 2.5rem 0 0
    position: relative
    z-index: 1
    padding: 1.875rem 0 2.5rem
    &-ico
        width: 120px
    .action-btn
        font-size: 2.25rem
        @media screen and ( max-width: 767px )
            font-size: 3.75rem
            max-width: 300px
            margin-top: 30px
    .title
        font-size: 1.875rem
        font-weight: bold
        color: $color_primary
        @media screen and ( max-width: 767px )
            font-size: 2.25rem
    .description
        font-size: 1.5rem
        line-height: 2.25rem
        font-weight: 500
        color: $color_primary
        mix-blend-mode: normal
        text-shadow: 0px 4px 20px #FFFFFF, 0px 0px 10px #FFFFFF
        @media screen and ( max-width: 767px )
            font-size: 2rem