section.animations 
    .container 
        .row
            .col-10.offset-1.col-md-8.offset-md-0
                .d-flex.justify-content-center.align-items-center.my-md-3
                    img.img-fluid(src="./img/gif-plug.png", alt="gif-image")
            .col-12.col-md-4
                .d-flex.flex-column.justify-content-center.align-items-center.text-center.my-3.my-sm-5
                    .animations-ico: img.img-fluid(src="./img/240x240-Mahjong.png", alt="icon")
                    h2.text-center.title Mahjong Journey
                    h4.text-center.description Experience a new take on Mahjong Solitaire
                    a.d-flex.justify-content-center.align-items-center.btn.btn-lg.btn-block.position-relative.mx-auto.my-md-2.my-lg-5.action-btn(href="http://", target="_blank", rel="noopener noreferrer")
                        img.position-absolute.w-100(src="./img/button.png", alt="button")
                        | Play Now