section.features
    .container 
        .row
            .col-12
                h3.text-uppercase.text-center.mt-4.mb-5.title Game Features
                .row
                    .col-xl-7.list.no-gutters
                        .row.align-items-center.mb-4.no-gutters
                            .col-2.text-center.icon
                                img.img-fluid(src="./img/icon-heart.png", alt="alt")
                            .col-10.pl-3 Play this new take on Mahjong Solitare and help a young girl find her lost parents.
                        .row.align-items-center.mb-4.no-gutters
                            .col-2.text-center.icon
                                img.img-fluid(src="./img/icon-cards.png", alt="alt")
                            .col-10.pl-3 Master thousands of immersive levels by matching over 1800 types of tiles in 43 different tilesets.
                        .row.align-items-center.mb-4.no-gutters
                            .col-2.text-center.icon
                                img.img-fluid(src="./img/icon-eye.png", alt="alt")
                            .col-10.pl-3 Use the four groundbreaking powerups to earn collectibles and display them as you restore the family home.
                        .row.align-items-center.mb-4.no-gutters
                            .col-2.text-center.icon
                                img.img-fluid(src="./img/icon-rocket.png", alt="alt")
                            .col-10.pl-3 Enjoy gorgeous graphics and rich sounds as you travel around the world.
                        .row.align-items-center.mb-4.no-gutters
                            .col-2.text-center.icon
                                img.img-fluid(src="./img/icon-clock.png", alt="alt")
                            .col-10.pl-3 Enjoy regular free updates with new levels, tilesets and more.

                    .col-xl-5.d-flex.justify-content-center
                        picture.image.wow.animate__slideInRight(data-wow-duration="1.5s", data-wow-offset="200")
                            source(srcset="./img/cat_smile-sml.png" media="(max-width: 767px)")
                            source(srcset="./img/cat_smile-mid.png" media="(min-width: 768px) and (max-width: 1199px)")
                            source(srcset="./img/cat_smile-big.png" media="(min-width: 1200px)")
                            img(src="./img/cat_smile-big.png", alt="Happy cat")
