section.header
    .container
        .col-12
            .row.h-100.main-screen
                .col-12.col-md-6.mx-auto.my-md-5.mb-5.d-flex.flex-column.justify-content-center.align-items-center.main-screen__header
                    a.d-flex.align-items-start.align-items-sm-center.mb-auto.h-50.wow.animate__bounce(data-wow-duration="1.5s", href="/"): img.img-fluid(src="./img/Logo-en.png", alt="Logo")
                    .d-flex.flex-column.justify-content-end.justify-content-sm-center.align-items-start.w-100.h-50
                        a.d-flex.justify-content-center.align-items-center.btn.btn-lg.btn-block.position-relative.mx-auto.my-3.my-sm-5.action-btn(href="http://", target="_blank", rel="noopener noreferrer") 
                            img.position-absolute.w-100(src="./img/button.png", alt="button")
                            | Play Now
                        h1.d-flex.game-desc.mx-auto.my-4.my-sm-5 Match Tiles & Relax

            .row.position-absolute.w-100.main-screen__images
                .col-6.col-sm-4.col-xl-3.d-flex.flex-column.justify-content-end.align-items-center.align-items-sm-end
                    picture.d-flex.justify-content-end.wow.animate__slideInLeft(data-wow-duration="2s")
                        source(srcset="./img/eva_thinking_xs.png" media="(max-width: 767px)")
                        source(srcset="./img/eva_thinking_md.png" media="(min-width: 768px) and (max-width: 1199px)")
                        source(srcset="./img/eva_thinking.png" media="(min-width: 1200px)")
                        img(src="./img/eva_thinking.png", alt="Eva picture")

                .col-6.col-sm-4.offset-sm-4.col-xl-3.offset-xl-6.d-flex.flex-column.justify-content-center.align-items-center.parallax
                    picture.d-flex.justify-content-start.align-items-center.parallax-inner.wow.animate__slideInRight(data-wow-duration="2s")
                        source(srcset="./img/MJ_tiles_xs.png" media="(max-width: 767px)")
                        source(srcset="./img/MJ_tiles_md.png" media="(min-width: 768px) and (max-width: 1199px)")
                        source(srcset="./img/MJ_tiles.png" media="(min-width: 1200px)")
                        img(src="./img/MJ_tiles.png", alt="Mahjong")
