section.video
    .container
        .row
            .col-12
                h3.text-center.my-5 Enjoy a new take on Mahjong Solitaire as you help a young girl and her cat traverse the globe in search of her lost parents.
            .col-12.mb-5
                .d-flex.col-10.m-auto.video-block
                    .d-flex.m-auto.video-frame
                        img(src="./img/video-plug.png", alt="trailer")
                .row.position-absolute.justify-content-between.w-100.h-100.video-decor
                    .col-3.col-md-2.col-lg-2.d-flex.flex-column.justify-content-start.align-items-center.wow.animate__slideInLeft(data-wow-duration="2s", data-wow-offset="500")
                        .d-flex.flex-column.justify-content-start.align-items-center.parallax-inner: img(src="./img/baloon.png", alt="baloon")
                    .col-3.col-md-2.col-lg-2.d-flex.flex-column.justify-content-end.align-items-center.wow.animate__slideInRight(data-wow-duration="2s", data-wow-offset="600")
                        .d-flex.flex-column.justify-content-end.align-items-center.parallax-inner: img(src="./img/cats.png", alt="cats")
