@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/* COMMON */
* {
  font-family: "Fira Sans", sans-serif;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 8px;
  }
}

body {
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn {
  font-size: 2.75rem;
  font-weight: bold;
  color: #ffffff;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .btn {
    font-size: 3.75rem;
  }
}
.btn img {
  z-index: -1;
}

.action-btn:hover img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header {
  background: url(./../img/Back_Canada_2048.png);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  padding: 1.875rem 0;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 36, 19, 0)), to(#082413));
  background: -o-linear-gradient(top, rgba(8, 36, 19, 0) 0%, #082413 100%);
  background: linear-gradient(180deg, rgba(8, 36, 19, 0) 0%, #082413 100%);
}
.header .parallax {
  overflow: unset !important;
}

.main-screen {
  min-height: 430px;
}
.main-screen h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0px 2px 2px #000000;
}
@media screen and (max-width: 575px) {
  .main-screen h1 {
    font-size: 3rem;
  }
}
.main-screen__header {
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .main-screen__header {
    max-width: 300px;
  }
}
.main-screen__images {
  bottom: -4.125rem;
}
@media screen and (max-width: 767px) {
  .main-screen__images {
    max-height: 35rem;
    bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .main-screen__images {
    max-height: 45rem;
  }
  .main-screen__images div:nth-child(1) {
    z-index: 1;
  }
  .main-screen__images div:nth-child(2) {
    position: absolute;
    bottom: 6.25rem;
    right: 0;
  }
}

.video {
  background: url(./../img/bg1fc.png);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  z-index: 1;
  padding: 1.875rem 0 2.5rem;
}
.video h3 {
  font-size: 1.75rem;
  line-height: 2.75rem;
  font-weight: 500;
  color: #393939;
}
.video-frame {
  width: 100%;
  background: url(./../img/wood-plug.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 4rem;
}
@media screen and (max-width: 575px) {
  .video-frame {
    padding: 3rem 3rem;
  }
}
.video-frame > * {
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 5;
}
.video-decor {
  top: 0;
}
.video-decor .active {
  overflow: unset !important;
  z-index: 5;
}
.video-decor img {
  width: auto;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .video-decor img {
    width: 100%;
  }
}

.animations {
  background: url(./../img/back_mountain-full.png);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  z-index: 1;
  padding: 1.875rem 0 2.5rem;
}
@media screen and (max-width: 767px) {
  .animations {
    padding: 1.875rem 0 5rem;
  }
}
.animations .clouds {
  z-index: 5;
  top: -20px;
}
.animations .clouds .cloud1 {
  overflow: unset !important;
  left: -100px;
  max-width: 250px;
}
@media screen and (max-width: 991px) {
  .animations .clouds .cloud1 {
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .animations .clouds .cloud1 {
    left: 0;
    max-width: 120px;
  }
}
.animations .clouds .cloud2 {
  overflow: unset !important;
  right: -200px;
  max-width: 330px;
}
@media screen and (max-width: 991px) {
  .animations .clouds .cloud2 {
    max-width: 260px;
  }
}
@media screen and (max-width: 767px) {
  .animations .clouds .cloud2 {
    right: 0;
    max-width: 150px;
  }
}
.animations .gif-block, .animations .info-block {
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  .animations .gif-block, .animations .info-block {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .animations .gif-block {
    margin-top: 50px;
  }
}
.animations-ico {
  width: 120px;
}
.animations .title {
  font-size: 1.875rem;
  font-weight: bold;
  color: #393939;
}
@media screen and (max-width: 767px) {
  .animations .title {
    font-size: 2.25rem;
  }
}
.animations .description {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #393939;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 20px #FFFFFF, 0px 0px 10px #FFFFFF;
}
@media screen and (max-width: 767px) {
  .animations .description {
    font-size: 2rem;
  }
}
.animations .action-btn {
  z-index: 10;
  font-size: 2.25rem;
}
@media screen and (max-width: 767px) {
  .animations .action-btn {
    font-size: 3.75rem;
    max-width: 300px;
    margin-top: 30px;
  }
}

.carousel-block {
  background: #FFEDD6;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  z-index: 1;
  padding: 1.875rem 0 2.5rem;
}
.carousel-block__top-image {
  max-width: 100%;
  z-index: 5;
  top: -90px;
  left: -150px;
  min-height: 400px;
  background: transparent;
}
@media screen and (max-width: 1199px) {
  .carousel-block__top-image {
    max-width: 120px;
    top: -70px;
    left: -30px;
  }
}
@media screen and (max-width: 767px) {
  .carousel-block__top-image {
    max-width: 80px;
    top: -30px;
    left: 10px;
  }
}
.carousel-control-prev, .carousel-control-next {
  width: 5%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .carousel-control-prev, .carousel-control-next {
    top: -150px;
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: url(./../img/arrowr.svg);
  width: 37px;
  height: 55px;
}
@media screen and (max-width: 991px) {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 27px;
    height: 40px;
  }
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.carousel-control-prev:hover-icon, .carousel-control-next:hover-icon {
  fill: #FE9C0A;
}
.carousel-control-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: -35px;
}
@media screen and (max-width: 991px) {
  .carousel-control-prev {
    left: 0px;
  }
}
.carousel-control-next {
  right: -35px;
}
@media screen and (max-width: 991px) {
  .carousel-control-next {
    right: 0px;
  }
}

.testimonial__pic {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial__username {
  font-size: 22px;
  font-weight: 500;
  color: #393939;
}
.testimonial__text {
  font-size: 18px;
  line-height: 28px;
  color: #393939;
  padding: 20px 40px;
  background: #fff;
  border-radius: 32px 32px 32px 0;
}
@media screen and (max-width: 991px) {
  .testimonial__text {
    padding: 20px;
    border-radius: 0px 32px 32px 32px;
  }
}
@media screen and (max-width: 575px) {
  .testimonial__text {
    padding: 16px;
  }
}
.testimonial__text--mini {
  border-radius: 0px 32px 32px 32px;
}

.features {
  background: url(./../img/bg1fc.png);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  z-index: 1;
  padding: 1.875rem 0 2.5rem;
}
.features .title {
  font-size: 1.875rem;
  line-height: 44px;
  font-weight: bold;
  color: #393939;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 991px) {
  .features .title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .features .title {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
}
.features .list .row {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #393939;
}
@media screen and (max-width: 1199px) {
  .features .list .row {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }
}
@media screen and (max-width: 767px) {
  .features .list .row {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.footer {
  background: url(./../img/Back_India.png);
  background-size: cover;
  background-position: bottom right;
  overflow: hidden;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  z-index: 1;
  padding: 1.875rem 0 1rem;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 39, 15, 0)), color-stop(23.96%, rgba(100, 39, 15, 0.12)), to(#64270F));
  background: -o-linear-gradient(top, rgba(100, 39, 15, 0) 0%, rgba(100, 39, 15, 0.12) 23.96%, #64270F 100%);
  background: linear-gradient(180deg, rgba(100, 39, 15, 0) 0%, rgba(100, 39, 15, 0.12) 23.96%, #64270F 100%);
}
.footer .title {
  font-size: 3.375rem;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer .title {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 991px) {
  .footer .title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .footer .title {
    font-size: 5rem;
  }
}
.footer .description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer .description {
    font-size: 1.25rem;
    line-height: 2.3rem;
  }
}
@media screen and (max-width: 991px) {
  .footer .description {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .footer .description {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }
}
.footer .social {
  margin-bottom: 120px;
}
.footer .social a svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  max-width: 45px;
  max-height: 70px;
}
.footer .social a:hover svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: 5px;
}
.footer .copyright {
  font-size: 16px;
  color: #ffffff;
}
.footer .link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  color: #ffffff;
}
.footer .link:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: 5px;
}